.game {
  display: grid;
  place-items: center;
  align-items: start;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  gap: 2rem;
}

@media (max-width: 600px) {
  .game {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
}
