.square {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-width: 0.4rem;
  background: #ffc6c7;
  margin: 0.3rem;
}

.square:active {
  background: #ff8ba7;
}

.winner {
  background: #c3f0ca;
}

.winner:active {
  background: #c3f0ca;
}
