.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
}

body {
  background: #faeee7;
}

button {
  background: #ff8ba7;
  border-radius: 0.5rem;
}

button:active {
  background: #ffc6c7;
}

* {
  color: #33272a;
}

footer {
  margin-top: 2rem;
}
